<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyRandomPlaylist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user %>
      <%= user.display_name %>
      <%= button_to 'Sign out', :logout, method: :delete, form: {style: 'display: inline-block'} %>
    <% else %>
      <%= button_to 'Sign in with Spotify', '/auth/spotify' %>
    <% end %>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
